@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

.tect_serch{
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0;
}

.loader{
  height: 100px;
  width: 100px;
  border-bottom: 2px solid #000;
  border-radius: 50%;
  animation: rotation 0.3s infinite ease-in;
}

@keyframes rotation {
  to{
    transform: rotateZ(360deg);
  }
}

.loder_center{
  display: flex;
  justify-content: center;
}

.circle_loder{
  position: absolute;
  margin-top: 120px;
}

.card_tech{
  border-radius: 0px;
  box-shadow: 5px 10px 8px #888888;
}

.remove_btn{
  color: red;
}

.remove_btn:hover{
  color: red;
}

body{
  
  font-family: 'Gotu', sans-serif;
  scroll-behavior: smooth;
  background-color: #dbe6fa;
}

.btn_primary{
  border-radius: 0;
  border: 1px solid #000;
  box-shadow: none !important;
  outline: none !important;
}
